html {
  background: url(../static/images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clear {
  filter: alpha(opacity=0);
  -moz-opacity: 0.0;
  -khtml-opacity: 0.0;
  background: transparent;
  background-color: transparent;
}

.menu-rectangle {
  width: 150px;
  height: 75px;
  background-color: #000000;
  font-style: normal;
  font-family: "Calibri", Calibri, sans-serif;
  color: white;
  opacity: 0.75;
  text-align: center;
  margin: 10px;
  padding-top: 25px;
  font-size: 18px;
}
