{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="{% static "organizations/create_organization.js" %}"></script>
<div class="center content-area">
  <div class="title">
    CREATE AN ORGANIZATION
  </div>
  <div class="col-md-8" style="text-align:left;margin-left:10%;">
    
    <!-- Organization Name Row --> 
    <div class="row" style="margin-top:50px">
      <div class="col-md-4">
      Organization Name:
      </div>
      <div class="col-md-6">
        <input id="org-name" type="text" class="form-control">
      </div>
    </div>
    <br>
    <!-- Admins Row --> 
    <div class="row">
      <div class="col-md-4">
      Admins:
      </div>
      <div class="col-md-8">
        <input id="admins" type='text' class="form-control" placeholder="Enter usernames separated by spaces">
      </div>
    </div>

    <div class="row" style="text-align:center">
      <div class="submit-rectangle" id="submit">Submit</div>
    </div>

  </div>
</div>

{% endblock %}
