{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static "about/about.css" %}">
<div class="content-area center">
  <div class="title">
    ABOUT US
  </div>
  <div id="content">
    CoMmUnity was created as a final project for 15-221: Technical Writing for Computer Sciencists.<br><br>
    It is designed as an alternative to Carnegie Mellon's official event system 'The Bridge'.<br><br>
    It is a result of the combined efforts of Omar Rahman, Kais Kudrolli, Ariel Tian, and Nathaniel Biggs.<br><br>
    If you have any questions, you can contact Nathaniel Biggs at nbiggs@andrew.cmu.edu.<br>
    
    
  </div>
</div>

{% endblock %}
