{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "events/jquery.timepicker.css" %}">
<script type="text/javascript" src="{% static "events/create_event.js" %}"></script>
<script type="text/javascript" src="{% static "events/jquery.timepicker.min.js" %}"></script>
<div class="center content-area">
  <div class="title">
    CREATE AN EVENT
  </div>
  <div class="col-md-8" style="text-align:left;margin-left:10%;">
    
    <!-- Tag Row --> 
    <div class="row" style="margin-top:50px">
      <div class="col-md-4">
      Event Name:
      </div>
      <div class="col-md-6">
        <input id="event-name" type="text" class="form-control">
      </div>
    </div>
    
    <!-- Organization Row --> 
    <div class="row">
      <div class="col-md-4">
      Organization:
      </div>
      <div class="col-md-6 dropdown form-input">
        <button id="organization" class="btn btn-default dropdown-toggle"
                type="button" data-toggle="dropdown">
          Select Organization
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="margin-top:10px;" role="menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Org 1</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Org 2</a></li>
      </ul>
      </div>
    </div>

    <!-- Start Date and Time Row --> 
    <div class="row">
      <div class="col-md-4">
	Start date:
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class='input-group date'>
            <input type='text' class="form-control" id='start_date'>
          </div>
        </div>
      </div>
      <div class="col-md-14">
	Start time:
      </div>
      <div class="col-md-16">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" id="start_time">
          </div>
        </div>
      </div>
      <script type="text/javascript">
      </script>
    </div>

    <!-- End Date and Time Row --> 
    <div class="row">
      <div class="col-md-4">
	End date:
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class='input-group date'>
            <input type='text' class="form-control" id="end_date">
          </div>
        </div>
      </div>
      <div class="col-md-14">
	End time:
      </div>
      <div class="col-md-16">
        <div class="form-group">
          <div class='input-group date'>
            <input type='text' class="form-control" id="end_time">
          </div>
        </div>
      </div>
    </div>

    <!-- Location Row --> 
    <div class="row">
      <div class="col-md-4">
      Location:
      </div>
      <div class="col-md-6">
        <input id="location" type='text' class="form-control">
      </div>
    </div>

    <!-- Tag Row --> 
    <div class="row">
      <div class="col-md-4">
      Tags:
      </div>
      <div class="col-md-8">
        <input id="tag" type='text' class="form-control" placeholder="Enter tags separated by spaces">
      </div>
    </div>

    <!-- Description Row --> 
    <div class="row">
      <div class="col-md-4">
      Description:
      </div>
      <div class="col-md-8">
        <textarea id="description" class="form-control"></textarea>
      </div>
    </div>

    <!-- Description Row --> 
    <div class="row" style="text-align:center">
      <div class="submit-rectangle" id="submit">Submit</div>
    </div>

  </div>
</div>

{% endblock %}
