{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>CoMmUnity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="../community/static/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  </head>

  <body class="clear">
    
    <div class="container-fluid">
      
      <div class="row">
        <!-- Top Pill Menu -->
        <ul class="nav nav-pills pull-right col-md-2">
          <li id="login"><a href="#">Login</a></li>
          <li id="logout"><a href="#">Logout</a></li>
        </ul>
        <ul class="pull-right col-md-2">
          <input id="username" type="text" class="form-control" placeholder="Username">
        </ul>
      </div>

      <div class="row">
        <div class="col-md-3" id="menubar">
          <div class="center">
            <!-- Create menu bar rectangles -->
            <div class="menu-rectangle" id="home_button">Home</div>
            <div class="menu-rectangle" id="events-button">Upcoming Events</div>
            <div class="menu-rectangle" id="create-button">Create an Event</div>
            <div class="menu-rectangle" id="about-button">About Us</div>
          </div>
        </div>

        <!-- The rest of the page to be filled -->
        <div class="col-md-8" id="content">
          {% block content %}Whatever you want.{% endblock %}
        </div>

      </div>
    </div>

<script src="{% static "jquery/src/jquery.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

</body>

</html>
