{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static "calendars/fullcalendar.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "calendars/calendar.css" %}">
  <script src="{% static "calendars/fullcalendar.min.js" %}"></script>
  <script src="{% static "calendars/calendar.js" %}"></script>
  <!-- Calendar Row -->
  <div class="row" id="calendar_area">
    <div class="col-md-12" id="filter_name">
      <div class="row calendar-bg" id="calendar"></div>
    </div>  
  </div>  
  <!-- Tag Filters Row -->
  <div class="row calendar-bg" id="filter_area">
    <div class="col-md-2" id="filter_name">
      Filter by Tag:
    </div>  
    <div class="col-md-3" id="filter_name">
      <input id="filter" type="text" class="form-control">
    </div>  
    <div class="col-md-4" id="filter_name">
      <button id="filter_button" class="btn btn-primary pull-left" type="button"> Filter </button>
    </div>  
  </div>

{% endblock %}
