{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static "calendars/fullcalendar.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "calendars/calendar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "chosen/chosen.min.css" %}">

  <script src="{% static "chosen/chosen.jquery.min.js" %}"></script>
  <script src="{% static "calendars/fullcalendar.min.js" %}"></script>
  <script src="{% static "calendars/calendar.js" %}"></script>

  <!-- Calendar Row -->
  <div class="row" id="calendar-area">
    <div class="col-md-11" id="filter_name">
      <div class="row content-area" id="calendar"></div>
    </div>  
    <!-- Filter row -->
    <div id="filter-area">
      <select id="filter" data-placeholder="Select Tag" style="width:150px">
        <option value="">All</option>
        <!-- Other options added dynamically -->
        </select>
      <div id="filter-button-area">
        <button id="filter-button" class="btn btn-primary pull-left" type="button"> Filter </button>
      </div>  
  </div>

{% endblock %}
